{% extends "base.html" %}
{% block content %}

    <h1>Nosotros</h1>
    <p>
        Minisuper Flask se fundó el 24 de marzo de 2014 debido a la necesidad
        que se presentó en la comunidad, ya que aunque aquí existen tiendas
        que ofrecen abarrotes, pero no en variedad.
    </p>

    <p>
        Es una micro empresa, responsable dedicada a la venta de productos
        como lo son los abarrotes de primera necesidad contenidos en la canasta
        básica de nuestra alimentación, creada para la satisfacción de primera
        necesidad de nuestros clientes, proporcionando una atención de calidad,
        consolidándose como una micro empresa totalmente satisfactoria a las
        necesidades y demandas de nuestros clientes, ofreciéndoles la más amplia
        gama de productos en la región en donde estamos instalados.
    </p>

    {% endblock %}